<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Add</h2>

    <form method=POST id="form">
        <label>
            A
            <input type="number" name="a" id="a" value="5"/>
        </label>
        <label>
            B
            <input type="number" name="b" id="b" value="5" />
        </label>
        <input type="submit" value="ADD">
    </form>
    
  </body>
</html>